html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
