html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.emoji:before {
  content: "\0020";
}
